<div class="form-field form-required">
	<label for="short_title">Short title</label>
	<input type="text" name="short_title" value="{{ post.short_title }}">
	<p>This will show up when editing posts, and other places a shorter name is useful.</p>
</div>