<div>
	<label for="short_title">Title</label>
	<input type="text" name="short_title" value="{{ topic.title }}">
</div>
<div>
	<label for="short_slug">Slug</label>
	<input type="text" name="short_slug" value="{{ topic.slug }}">
</div>